.App {
  text-align: center;
  .App-header {
    background-color: #222;
    height: 70px;
    padding: 15px;
    color: white;
  }
  .App-title {
    font-size: 1.5em;
  }
}

/*数字组*/
.choices {
  display: flex;
  direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  .choice {
    width: 35px;
    height: 35px;
    border: 1px dashed #ccc;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    color: #1fb27f;
    border: 1px dashed rgba(251, 255, 254, 0.8);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
  }
}

// 按钮组
.contrls {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
  button {
    color: #666;
    font-size: 9.6px;
    height: 24px;
    line-height: 24px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #eee;
    border: 0.5px #eee solid;
  }
  button:focus {
    background-color: #ddd;
    text-decoration: none;
    outline: none;
  }
}
